<!--*blockUI="'detail-section'"-->
<block-ui>
<div 
      class="jumbotron animated fadeIn fast">
  <div class="container">
    <h1>Wolverine</h1>
    
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <h3><strong>Super Poder</strong></h3>
          </div>
          <div class="col-md-12">
            <p>Regeneracion</p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <h3><strong>Casa matriz</strong></h3>
          </div>
          <div class="col-md-12">
            <p>Marvel</p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <h3><strong>Biograf&iacute;a</strong></h3>
          </div>
          <div class="col-md-12">
            <p>Mutante de Marvel</p>
          </div>
        </div>
      </li>
    </ul>
    
    <button [routerLink]="[ '/heroes']"
            type="button" class="btn btn-info">
      Listado Heroes
    </button>
    
  </div>
</div>
</block-ui>

